
@{
    ViewBag.Title = "Bottled & Filtered Water";
}

 <link rel="stylesheet" type="text/css" href="~/Content/bottled.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />
<div class="bg-bottled img-responsive"><br />
    <h1>REFRESHMENTS<br>IS GOOD FOR YOU</h1>
</div>
<div class="header2">
    <h3>BOTTLED & FILTERED WATER</h3>
</div>






<div class="" style="float: none !important;
    margin: auto !important;
    max-width:100% !important;
    display:block !important;
    width: 980px !important;
    text-align: center !important;">
    <div class="container1">
        <div class="row ">
            <div class="col-md-4 pictures">
                <img src="~/Content/images/bottled-pic-1.png" />
            </div>
            <div class="col-md-4 pictures">
                <img src="~/Content/images/bottled-pic-3.png" class="second" />
            </div>
            <div class="col-md-4 pictures">
                <img src="~/Content/images/bottled-pic-2.png" class="third" />
            </div>
        </div>
    </div>

    <p style="color: #595959;
    text-align: justify;
    text-justify: inter-word;
    font-size: 22pt;
    font-family: Arvo-Regular;
    margin-top: 12%;">
        Executive Refreshments provides premium water for drinking and coffee brewing. We offer both bottled and filtered water for your employees and patrons to enjoy. When the inconvenience of 5-gallon bottles and the space to store them is a concern, we recommend a customized water filtration system. The advantage is clean, healthy, and great tasting water.
        We guarantee your complete satisfaction at all times.
    </p>


    <div id="contactUsBottled">
        <h3>CONTACT US</h3>
        <p>regarding refreshments and snack services!</p>
        <a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore">LEARN MORE</a>
    </div>

    <img src="~/Content/images/water.png" class="water" />

    <a href="@Url.Action("RefreshmentsAndSnackes","Services")" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>

    <div class="row images1">
        <div class="col-md-2 pictures">
            <img src="~/Content/images/bottled-prod-1.png" class="first1"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/bottled-prod-2.png" class="second2" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/bottled-prod-3.png" class="third3"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/bottled-prod-4.png" class="forth4" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/bottled-prod-5.png" class="fifth5"/>
        </div>

    </div>

</div>


<div id="store">
    <div id="bgSnacksGl2">
        <h3 style="font-size: 44px;">MICRO CONVENTIONAL STORE</h3>
        <h6>BEST SOLUTION FOR YOUR BUSINESS</h6>
        <img src="~/Content/images/store.png" alt="" class="img-responsive">
        <div class="buttLM"><a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore2">LEARN MORE</a></div>
    </div>
</div>


