
@{
    ViewBag.Title = "Break Room & Janitorial Supplies";
}

 <link rel="stylesheet" type="text/css" href="~/Content/breakroom.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />
 

<div class="bg-breakroom img-responsive"><br />
    <h1>EXECUTIVE<br>REFRESHMENTS</h1>
    <h5>brings out the best</h5>
</div>
<div class="header2">
    <h3>BREAKROOM & JANITORIAL SUPPLIES</h3>
</div>






<div class="" style="float: none !important;
    margin: auto !important;
    max-width:100% !important;
    display:block !important;
    width: 980px !important;
    text-align: center !important;">
    <div class="container1">
        <div class="row "> @* class="row images"*@
            <div class="col-md-2 pictures">
                <img src="~/Content/images/breakroom-pic-1.png" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/breakroom-pic-2.png" class="second" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/breakroom-pic-3.png" class="third" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/breakroom-pic-4.png" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/breakroom-pic-5.png" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/breakroom-pic-6.png" />
            </div>
        </div>
    </div>

    <p style="color: #595959;
    text-align: justify;
    text-justify: inter-word;
    font-size: 22pt;
    font-family: Arvo-Regular;
    margin-top: 12%;">A clean office promotes a safe and healthy working environment. Our offices at times can be our home away from home. A well-stocked break room can be a valuable asset; from everyday items such as paper towels, napkins, plastic utensils, and coffee supplies. We work behind the scenes to ensure all items are always in stock without employees having to think twice.</p>


    <div id="contactUsBreakroom">
        <h3>CONTACT US</h3>
        <p>regarding refreshments and snack services!</p>
        <a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore">LEARN MORE</a>
    </div>

    <img src="~/Content/images/cups.png" class="cups" />

    <a href="@Url.Action("BottledAndFilteredWater","Services")" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>

    <div class="row images1">
        <div class="col-md-2 pictures">
            <img src="~/Content/images/breakroom-prod-1.png" class="first1"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/breakroom-prod-2.png" class="second2" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/breakroom-prod-3.png" class="third3"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/breakroom-prod-4.png" class="forth4" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/breakroom-prod-5.png" class="fifth5"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/breakroom-prod-6.png" class="sixth6"/>
        </div>

    </div>

</div>


<div id="store">
    <div id="bgSnacksGl2">
        <h3 style="font-size:44px;">MICRO CONVENTIONAL STORE</h3>
        <h6>BEST SOLUTION FOR YOUR BUSINESS</h6>
        <img src="~/Content/images/store.png" alt="" class="img-responsive">
        <div class="buttLM"><a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore2">LEARN MORE</a></div>
    </div>
</div>

