   
@{
    ViewBag.Title = "Micro Conventional Store";
}
<link rel="stylesheet" type="text/css" href="~/Content/micro1.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />

<div class="bg-micro img-responsive"><br />
    <h1>REFRESH<br />YOUR BODY & SPIRIT</h1>
</div>
<div class="header2">
    <h3>MICRO CONVENTIONAL STORE</h3>
</div>






<div class="" style="float: none !important;
    margin: auto !important;
    max-width:100% !important;
    display:block !important;
    width: 980px !important;
    text-align: center !important;">
    <div class="container1">

    </div>

    <p style="color: #595959;
    text-align: justify;
    text-justify: inter-word;
    font-size: 22pt;
    font-family: Arvo-Regular;
    margin-top: 12%;">Our workplace micro convenient store bring a new meaning to the word “convenient”! This self-service store can substitute the full café service where health food including snacks and drinks will give your employees a full scale solution. The micro convenient store is a grab and go food concept where gourmet market deliciousness meets quick market convenience.</p>




    <div class="container">
    <div id="benefits" >
         
           
        <div class="bheader">
            <h3>ADVANTAGE &amp; BENEFITS:</h3>
        </div>
 

        <ul>
            <div class="row">
                <div class="col-md-6">

                    <li><p>Easy-to-use-technology</p></li>
                </div>
                <div class="col-md-6">

                    <li><p>Great variety of healthy<br>and fun snacks and drinks</p></li>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <li><p>PCI-compliant payment system<br>protects customers’ data</p></li>
                </div>
                <div class="col-md-6">

                    <li><p>Quick and easy meal<br>solutions around the clock</p></li>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <li><p>Use credit card</p></li>
                </div>
                <div class="col-md-6">

                    <li><p>Tailor made for you an<br>employer of choice</p></li>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <li><p>Secure transaction</p></li>
                </div>
                <div class="col-md-6">

                    <li><p>Greater choices ideal for<br>employee wellness plans</p></li>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <li><p>Temperature control keeps<br>fresh food safe</p></li>
                </div>
                <div class="col-md-6"></div>
            </div>

        </ul>




    </div>

    <p>We have the experience and know-how to customize refreshment program that will satisfy your business needs. Let us take care of your workplace refreshments, so you can focus on more important things.</p>

    <div id="promises">
        
            <div class="bheader">
                <h3>OUR PROMISES:</h3>
            </div>
 
            <ul>
                <div class="row">
                    <div class="col-md-6">

                        <li><p>We will keep machine well stocked<br />and in working order</p></li>
                    </div>
                    <div class="col-md-6">

                        <li><p>We will provide your choice<br />snacks and drinks</p></li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <li><p>Inventory management will track<br />each transaction</p></li>
                    </div>
                    <div class="col-md-6">

                        <li><p>Above all dependable and<br />reliable service</p></li>
                    </div>
                </div>


        </div>

    </div>
    <div id="contactUsMicro">
        <h3>CONTACT US</h3>
        <p>regarding refreshments and snack services!</p>
        <a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore">LEARN MORE</a>
    </div>

    <img src="~/Content/images/micro-pic.png" class="micro" />

    <a href="@Url.Action("OfficeCoffeeAndTea","Services")" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>

    <div class="row images1">
        <div class="col-md-2 pictures">
            <img src="~/Content/images/fb.png" class="first1" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/tw.png" class="second2" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/yt.png" class="third3" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/ig.png" class="forth4" />
        </div>


    </div>

</div>


<div id="store">
    <div id="bgSnacksGl2">
        <h3 style="font-size:44px;">MICRO CONVENTIONAL STORE</h3>
        <h6>BEST SOLUTION FOR YOUR BUSINESS</h6>
        <img src="~/Content/images/store.png" alt="" class="img-responsive">
        <div class="buttLM"><a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore2">LEARN MORE</a></div>
    </div>
</div>

