
@{
    ViewBag.Title = "Office Coffee & Tea";
}


<link rel="stylesheet" type="text/css" href="~/Content/coffeentea.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />

<div class="bg-coffee img-responsive"><br />
    <h1>FEEL THE MAGIC OF<br>REFRESHMENTS</h1>
</div>
<div class="header2">
    <h3>OFFICE COFFEE & TEA</h3>
</div>






<div class="container">
    <div class="container1">
        <div class="row images">
            <div class="col-md-2 pictures">
                <img src="~/Content/images/coffee-prod-1.png" class="first" />
                <h5 class="upictures1">KEURIG B3000SE</h5>
            </div>


            <div class="col-md-2 pictures">
                <img src="~/Content/images/coffee-prod-2.png" class="second" />
                <h5 class="upictures2">DE JONG DUKE COFFEE MACHINE</h5>
            </div>


            <div class="col-md-2 pictures">
                <img src="~/Content/images/coffee-prod-3.png" class="third" />
                <h5 class="upictures3">TASSIMO</h5>
            </div>


            <div class="col-md-2 pictures">
                <img src="~/Content/images/coffee-prod-4.png" class="forth" />
                <h5 class="upictures4">TRADITIONAL<br />GLASS POT</h5>
            </div>


            <div class="col-md-2 pictures">
                <img src="~/Content/images/coffee-prod-5.png" class="fifth" />
                <h5 class="upictures5">BREWER</h5>
            </div>


        </div>
    </div>

    <p class="firstp">Executive Refreshments offers a wide range of coffee products and solutions to meet your needs. You will love our variety of exclusive coffees. We know we have the perfect blend for you! We also offer favorite consumer brands such as Folgers, Maxwell House, Green Mountain, Seatle's Best, and Starbucks. This is a list or some of the common coffee brands we carry, but we can obtain and stock any brand you prefer. Cafe Classic is our custom brand that has been blended to our rigorous specifications. All of our Cafe Classic coffees are 100% arabica with the finest beans from the best soils.</p>
    <p class="secondp">We provide quality coffee brewing equipment as a part of our commitment to serve you. We also provide all essential products including sweeteners, creamers, stir sticks, and filters. In addition, we offer specialty teas, hot chocolate, apple cider, cappuccino mixes, and instant soups.</p>

    <div class="header3">
        <h3>COFFEE BREWING AND SERVING SOLUTIONS</h3>
    </div>

    <div class="list">
        <h5>Thermal airpot and carafe brewers</h5>
        <div class="line"></div>
        <h5>Traditional automatic and pour-over brewers</h5>
        <div class="line"></div>
        <h5>Low profile brewers to fit on counter tops and under cabinets</h5>
        <div class="line"></div>
        <h5>Brewers with hot water faucet for preparing other hot beverages & soups</h5>
        <div class="line"></div>
        <h5>Single-cup brewers for brewing several coffee types - one cup at a time</h5>
    </div>




    <a href="@Url.Action("BottledAndFilteredWater","Services")" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>

    <div class="row images1">
        <div class="col-md-2 pictures">
            <img src="~/Content/images/coffee-pic-1.png" class="first1"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/coffee-pic-2.png" class="second2" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/coffee-pic-3.png" class="third3"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/coffee-pic-4.png" class="forth4" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/coffee-pic-5.png" class="fifth5"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/coffee-pic-6.png" class="sixth6"/>
        </div>

    </div>

</div>


<div id="store">
    <div id="bgSnacksGl2">
        <h3 style="font-size:44px;">MICRO CONVENTIONAL STORE</h3>
        <h6>BEST SOLUTION FOR YOUR BUSINESS</h6>
        <img src="~/Content/images/store.png" alt="" class="img-responsive">
        <div class="buttLM"><a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore2">LEARN MORE</a></div>
    </div>
</div>


