
@{
    ViewBag.Title = "Refreshments & Snackes";
}
<link rel="stylesheet" type="text/css" href="~/Content/snacks.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />

<div class="bg-snacks img-responsive"><br />
    <h1>REFRESHMENTS</h1>
    <h5>stimulation for Body & Mind</h5>
</div>
<div class="header2">
    <h3>REFRESHMENTS & SNACKS</h3>
</div>
 

<div class=""  style="float: none !important;
    margin: auto !important;
    max-width:100% !important;
    display:block !important;
    width: 980px !important;
    text-align: center !important;">
    <div class="container1">
        <div class="row">
            <div class="col-md-2 pictures">
                <img src="~/Content/images/pic-1.png" class="first" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/pic-2.png" class="second" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/pic-3.png" class="third" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/pic-4.png" class="forth" />
            </div>
            <div class="col-md-2 pictures">
                <img src="~/Content/images/pic-5.png" class="fifth" />
            </div>
        </div>
    </div>

    <p style="color: #595959;
    text-align: justify;
    text-justify: inter-word;
    font-size: 22pt;
    font-family: Arvo-Regular;
    margin-top: 12%;">Offering Snacks and Refreshments is a gesture most won’t forget. Executive Refreshments guarantees freshness in the products we place and will go to great lengths to find the most appealing treats to meet your wishes. At Executive Refreshments we understand the benefits of providing quality refreshments on a consistent basis.</p>


    <div id="contactUsSnacks">
        <h3>CONTACT US</h3>
        <p>regarding refreshments and snack services!</p>
        <a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore">LEARN MORE</a>
    </div>

    <img src="~/Content/images/snacks.png" class="snacks" />

    <a href="@Url.Action("Vending","Services")" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>

    <div class="row images1">
        <div class="col-md-2 pictures">
            <img src="~/Content/images/logo-1.png" class="first1"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/logo-2.png" class="second2" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/logo-3.png" class="third3"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/logo-4.png" class="forth4" />
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/logo-5.png" class="fifth5"/>
        </div>
        <div class="col-md-2 pictures">
            <img src="~/Content/images/logo-6.png" class="sixth6"/>
        </div>

    </div>

</div>


<div id="store">
    <div id="bgSnacksGl2">
        <h3 style="font-size:44px;">MICRO CONVENTIONAL STORE</h3>
        <h6>BEST SOLUTION FOR YOUR BUSINESS</h6>
        <img src="~/Content/images/store.png" alt="" class="img-responsive">
        <div class="buttLM"><a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore2">LEARN MORE</a></div>
    </div>
</div>


