
@{
    ViewBag.Title = "Vending";
}
<link rel="stylesheet" type="text/css" href="~/Content/vending.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />
 

<div class="bg-vending img-responsive">
    <h1>REFRESHMENTS<br />AFTER A LONG DAY</h1>
</div>
<div class="header2">
    <h3>VENDING</h3>
</div>






<div class="container">



    <p>Vending machines are an office classic and tend to be the best way to safely offer employees snacks and candy treats. The machines are low maintenance and are maintained by our team of professionals; letting you carry on with your busy workday. Our experience in the industry has given us an edge over others, we know what snack and refreshment items are popular and stock vending machines full of favorites.</p>
    <p>Offering the most variety at a low cost to you, snack or beverage vending machines are the most affordable way to meet staff member’s needs and wants. All vending machines are new and in prime working order, assuring you’ll never be without service or downtime. Installation is easy and taken care of by our team. Start enjoying a variety of snacks and beverages on demand.</p>

    <div id="contactUsVending">
        <h3>CONTACT US</h3>
        <p>regarding refreshments and snack services!</p>
        <a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore">LEARN MORE</a>
    </div>

    <img src="~/Content/images/cips.png" class="cips" />

    <a href="@Url.Action("BottledAndFilteredWater","Services")" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>
</div>





<div id="store">
    <div id="bgSnacksGl2">
        <h3 style="font-size: 44px;">MICRO CONVENTIONAL STORE</h3>
        <h6>BEST SOLUTION FOR YOUR BUSINESS</h6>
        <img src="/Content/images/store.png" alt="" class="img-responsive">
        <div class="buttLM"><a href="@Url.Action("MicroConventionalStore","Services")" class="btn btn-primary btn-default lMore2">LEARN MORE</a></div>
    </div>
</div>

