
@{
    ViewBag.Title = "About Us";
}

<div class="page_cont_bg" style="background:none;">
    <div class="page_wrap">
        <div class="para_body top_para">
            <p>In Executive Refreshments we are in your business. We make it a priority to understand your business so we can serve you better. We are serving faithfully in the Greater Dallas/Fort Worth metro area over decade. Our company was founded in 2000 by Lou Baresh. Lou brings over 30 years of experience in the consumer food industry to Executive Refreshments. He understands the value to listen carefully customers’ needs and exceed their expectation.</p>
        </div>
        <div class="para_body bottom_para">
            <p>
                Start with the best coffee brands in the world: <br>

                ALTERRA, Starbucks, Seattle's Best, Green Mountain, and more. <br>

                Then the rich aroma, slow roasted to peak flavor, warms the whole room. Soon,<br>
                your office is running like a well-oiled engine. Get fine coffee and tea, delivered <br>
                right to you. Out one-stop shop provides an end-to-end solution. Consider us as<br>
                your extended team who always there, always available, always getting your what
                you need, and works as a part of YOUR organization!
            </p>
        </div>
        <div class="para_body bottom_para">
            <p>
                Start with the best coffee brands in the world: <br>

                ALTERRA, Starbucks, Seattle's Best, Green Mountain, and more. <br>

                Then the rich aroma, slow roasted to peak flavor, warms the whole room. Soon,<br>
                your office is running like a well-oiled engine. Get fine coffee and tea, delivered <br>
                right to you. Out one-stop shop provides an end-to-end solution. Consider us as<br>
                your extended team who always there, always available, always getting your what
                you need, and works as a part of YOUR organization!
            </p>
        </div>
        <div class="para_body bottom_para">
            <p>
                Start with the best coffee brands in the world: <br>

                ALTERRA, Starbucks, Seattle's Best, Green Mountain, and more. <br>

                Then the rich aroma, slow roasted to peak flavor, warms the whole room. Soon,<br>
                your office is running like a well-oiled engine. Get fine coffee and tea, delivered <br>
                right to you. Out one-stop shop provides an end-to-end solution. Consider us as<br>
                your extended team who always there, always available, always getting your what
                you need, and works as a part of YOUR organization!
            </p>
        </div>




    </div>

    <div class="second_wrap">

        <div class="inn_bg_wrap">
            <h2>GREAT SNACKS MOVE YOU THROUGH THE WORKDAY LET US SERVE YOU COOL REFRESHMENT</h2>
        </div>
        <h3 align="center">Find the service that work for your company</h3>
    </div>
    <div class="button_tag"><button>Get Refreshed!</button></div>



    <div class="clear"></div>
    <div class="page_wrap">
        <div class="para_body" style="margin-top:40px;">

            <p><img src="~/images/about-us.jpg" width="353" height="246" alt="" /></p>
        </div>
    </div>
</div>

