
@{
    ViewBag.Title = "Contact Us";
     
}



<div class="bgContactUs img-responsive"><br />
    <h1>REFRESHMENTS,<br>THE SECRET OF<br>SUCCESS</h1>
</div>

<div class="well" id="contactForm">
    <h3>WE WELCOME YOUR<br>COMMENTS AND QUESTIONS!</h3>
    <div class="row cont">
        <div class="col-md-2 cLeft">
            <img src="~/Content/images/left-ContactUs.png" style="width:300px; margin-top: 170px" alt="" class="img-responsive">
        </div>
        <div class="col-md-8">
            <div class="row buttonColm">
                <div class="col-md-6 left">
                    <img src="~/Content/images/loc-contactUs.png" alt="">
                    <p>10488 Brockwood Road<br>Dallas, Texas 75238</p>
                    <img src="~/Content/images/phone-contactUs.png" alt="">
                    <p>Phone 214-696-0205<br>Fax 214-221-0206</p>
                </div>
                <div class="col-md-6 right">
                    <div id="container">
                        <form action="">
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control formCSS" id="name-pr" required placeholder="Name">
                                </div>
                            </div><!-- -->
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control formCSS" id="email-pr" required placeholder="Email">
                                </div>
                            </div><!-- -->
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control formCSS" id="number-pr" required placeholder="Phone Number">
                                </div>
                            </div><!-- -->
                            <div class="row">
                                <div class="col-lg-2">
                                    <textarea class="form-control formCSS mess" rows="3" id="textarea" name="textarea" placeholder="Message"></textarea>
                                </div>
                            </div><!-- -->
                            <button type="submit" class="btn btn-default submitButt">SEND</button>
                        </form>
                    </div>
                </div>
                <a href="#" class="btn btn-primary btn-default refButt">GET REFRESHED!</a>
                <br><img src="~/Content/images/cent-ContactUs.png" alt="">
            </div>
        </div>
        <div class="col-md-2">
            <img src="~/Content/images/right-ContactUs.png" style="width:300px; margin-top: 200px" alt="" class="img-responsive">
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/contact_us1.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />